header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}


.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.secondary-bar .secondary-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  padding: 20px;
  border: 0;
}

.secondary-bar-inner {
  display: flex;
  justify-content: space-between;

}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.index-three-button-inner {
  display: flex;
  width: auto;
  margin-top: 5%;
  padding-top: 5%;
  margin-bottom: 1rem;
  text-align: center;
  justify-content: space-around;
  white-space: nowrap;
  overflow-x: auto;
  text-size-adjust: auto;
}

.modify-footer-buttom {
  display: flex;
  width: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.index-three-button-outer {
  display: flex;
  width: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: space-around;
}


@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
}